<div class="texto">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="list-group">
				<% if @archivos.length == 0%>
					<h3 class="text-center">No hay tareas disponibles</h3>
				<%else%>
					<h1 class="text-center">Tareas</h1>
					<%@archivos.each do |f|%>
						<%=link_to (File.basename f), {:controller => "index", :action => "descargar", :archivo => f },:class => "list-group-item",:method => :post%>
					<%end%>
				<%end%>

			</div>
		</div>
	</div>
</div>