<div class="texto">
	<div class="row">			
		<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTrft3cpWoO87oktZRTu7HQjc53Iy_8KmSuS92dWmd09k-Qm0yIJ-aaI801SjWdM1IwZBBMJQTvIuZ1/pubhtml?widget=true&amp;headers=false"></iframe>
	</div>
</div>