<div class="texto">
	<div class="row">	
		<div  class="titulo text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1><%=@titulo%></h1>
		</div>
	</div>	
	<div class="row">	
		<div class="objetivo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Objetivo</h2>
		</div>
	</div>
	<div class="row">	
		<div class="contenido1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="text-justify"><%=@contenido1.html_safe%></p>
		</div>
	</div>
	<div class="row">	
		<div class="objetivo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Metodología de Enseñanza</h2>
		</div>
	</div>
	<div class="row">	
		<div class="contenido2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="text-justify"><%=@contenido2.html_safe%></p>
		</div>
	</div>
</div>