<div class="texto">
	<div class="row">
		<div class="datos col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Profesora</h2>
			<p><%=@contenido_profesor.html_safe%><p>
		</div>	
	</div>
	<div class="row">
		<div class="datos col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Ayudante</h2>
			<p><%=@contenido_ayudante.html_safe%><p>
		</div>	
	</div>
	<div class="row">
		<div class="datos col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Horario de clase</h2>
			<p><%=@contenido_horario.html_safe%><p>
		</div>	
	</div>
	<div class="row">
		<div class="datos col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Datos de la Materia</h2>
			<p><%=@contenido_materia.html_safe%><p>
		</div>	
	</div>
</div>