<div class="texto">
	<div class="row">
		<div class="datos">
			<h2>Profesora</h2>
		</div>	
	</div>
	<div class="row">
		<div class="datos">
			<h2>Ayudante</h2>
		</div>	
	</div>
	<div class="row">
		<div class="datos">
			<h2>Horario de clase</h2>
		</div>	
	</div>
	<div class="row">
		<div class="datos">
			<h2>Datos de la Materia</h2>
		</div>	
	</div>
</div>