<div class="texto">
	<div class="row">
		<div class="datos col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Contenido del Curso</h2>
			<p><%=@temario.html_safe%></p>
		</div>
		<!--Botón de avance-->
	</div>
</div>