@import 'bootstrap-sprockets';
@import 'bootstrap';

//= require_tree .
//= require_self
 
body{
	font-family: Arial;
}

header {	
	background-color:rgb(0,43,122);	
	height: 110px;

	.logo{
		height:110px;

		.izq {
			height:110px;
			width:30%;
			
			img {
				height:110px;
				margin-left:42%;
			}	
		}

		.der {
			height:110px;
			width:70%;
			h3 {
				margin-top:30px;
				color:white;
			}

			span{
				color:rgb(187,136,0);
			}
		}
	}

	.img_ciencias{
		height:110px;
		background-image:url(fciencias.jpg);

		.opacidad{
			background-color:rgba(0,43,122,0.6);	
			height:110px;
			min-width:100vmax;
			margin-left:-4%;

			h2{
				margin-top:0px;
				color: white;
				margin-left:19%;
				padding-top:35px;
				font-weight:bold;
			}
		}
	}
}

.r1 {	
	height:auto;
	margin-top: 0px;
}

.barra-oro {
	background-color:rgb(187,136,0);
	height:auto;
	width: 100%;	
}

 
.navbar-inverse {
	background-color:rgb(187,136,0);
	margin-left:10%;
	margin-right:20%;
	border:0;
	transition: all 0.35s ease-in-out;		


	.navbar-brand {
		color: white;
	}

	.navbar-header:hover{
		background-color:rgb(187,136,0);
		transition: all 0.35s ease-in-out;		
	}

	.navbar-collapse .navbar-nav>li>a , .navbar-collapse .navbar-nav>li>a:active,.navbar-collapse .navbar-nav>.dropdown>a,.navbar-collapse .navbar-nav>li>a:visited,.navbar-collapse .navbar-nav>li>a:focus {
		color: white;		
		background-color:rgb(187,136,0);
		transition: all 0.35s ease-in-out;		
	}	

	.navbar-collapse .navbar-nav>li>a:hover{
		color: white;		
		background-color:rgb(155,114,0);
		transition: all 0.35s ease-in-out;	
	}

	.navbar-toggle:hover,.navbar-toggle:focus {
		background-color:rgb(155,114,0);
		transition: all 0.35s ease-in-out;	
	}
}

.texto {
	max-width: 85%;
	height: auto;
	margin: 0 auto;

	.titulo  h1 {
		font-weight: bold;
	}

	.objetivo h2 {
		font-weight: bold;
		margin-left: 10%;
	}

	.contenido1 p , .contenido2 p, .contenido1 ul, .contenido2 ul, .datos{
		margin-left: 10%;
		margin-right: 30%;		
	}

	.datos h2 {
		font-weight: bold;	
	}

	.list-group {
		max-width:500px;
		margin: 0 auto;
	}

	.list-group>a{
		background-color:rgb(0,43,122);
		color: white;
		transition: all 0.35s ease-in-out;
	}


	.list-group>a:hover {
		color: white;		
		background-color:rgb(187,136,0);
		transition: all 0.35s ease-in-out;
	}
	
	iframe {
		width:100%;
		height: 600px;
	}	

	input {
		border-radius: 10px;
	}

	.notice {
		color: red;
		margin-left:30%;
	}

	.carga_form {
		max-width:500px;
		margin: 0 auto;
		margin-top:20px;
		input[type="file"]{
			margin:0 auto;
		}

		input[type="submit"]{
			background-color:rgb(187,136,0);
			transition: all 0.35s ease-in-out;
			color: white;
			font-size: 18px;
			margin-left: 25%;
			margin-top: 10px;
			width: 200px;
		}

		input[type="submit"]:hover {
			background-color:rgb(155,114,0);
			transition: all 0.35s ease-in-out;

		}
	}
}



